/* general */
    /* navi */
@keyframes fadeIn{
    from{
        opacity: 0%;
        transform: translateY(-80px);
    }
    to {
        opacity: 100%;
    }
    }

ul{
    margin-left: 20px;
}     

main{
    font-family: "Karla", "Roboto",sans-serif, 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial;
    line-height: 20px;
    margin: 20px;
}


h1{
    font-family: "Audiowide",sans-serif, 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial;
    font-size: 28px;
    padding: 10px 0px 40px 0px ;
    font-weight: 700;
    letter-spacing: .1ex;
    line-height: 40px;
    position: relative;
    animation: fadeIn 1s ease-out;
}


h3{
    font-size: 24px;
    line-height: 26px;
    padding: 10px 0px;
    color: #064987;
    margin: 40px 0px 20px 0px;
    letter-spacing: .1ex;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 6px;
    text-decoration-color: #06498750;
}

h4{
    font-size:18px;
    font-weight:900;
    margin: 10px 0px 10px 0px;
    letter-spacing: .1ex;
    line-height: 26px;
}

div a, p, li{
    font-size:18px;
    margin:10px 0px;
    font-weight:400;
    color:#414141;
    line-height: 26px;

}

nav li{
    margin: auto;
    display: inline;
    margin: 0px 4px 0px 4px;
    font-family: "Karla", "Roboto",sans-serif, 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial;
    line-height: 30px;
}

nav a{
    color: #064987;
    font-size:18px;
    text-decoration: none;
    
}

nav a:hover{
    text-decoration: wavy underline;
}

.active{
    color:rgb(13, 73, 157);
    font-weight: 800;
    background-color: rgba(27, 83, 135, 0.082);
}

li{
    list-style-type:disc;
}

.skip{
    position: absolute;
    top: -40px;
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

.text-emphasize{
    font-size: 18px;
    font-weight: 700;
    color:#064987;
    margin: 0px 0px 20px 0px;
    font-style: italic;
    letter-spacing: 0.1ex;
    
}

.footer{
    padding: 80px;
    text-align: center;
    font-family: "Karla", "Roboto", sans-serif, 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial;
    line-height: 30px;
    font-size:18px;
    font-weight: 800;
    font-style: italic;
    color: white;

}

    /* index */
i{
    display: inline-block;
}

.contact_box{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.contact{
    display: inline;
    padding: 0px 0px 0px 16px;
}

.contact:visited{
    color: black;
}

.form_container{
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 1fr 1fr;
    row-gap: 4px;
}

label, input, textarea, button{
    display: block;
    width: 100%;
    font-size: 18px;
    font-family: "Karla", "Roboto",sans-serif, 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial;
}


button{
    grid-row-start: 5;
}

/* resume */
hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
.resume_container{
    display: grid;
}


#aside1, #aside2{
    font-size: 18px;
    font-weight: 700;
    color:#064987;
    margin: 0px 0px 10px 0px;
    letter-spacing: 0.1ex;
}

#aside3{
    font-size: 18px;
    font-weight: 700;
    color:#064987;
    margin: 0px 0px 10px 0px;
    font-style: italic;
    letter-spacing: 0.1ex;
}

#h1_resume{
    grid-row-start: 1;
}


/* portfolio */
.portfolio_container{
    display: grid;
}

#portfolio_header_img{
    width: 100%;
}

.portfolio_img_giant{
    object-fit: cover;
    height: 200px; 
    width: 100%;
    padding: 0px;
    margin: 10px 0px;
    border:rgba(156, 156, 156, 0.226) solid 1px;
}


.portfolio_img_591{
    object-fit: cover;
    height: 200px; 
    width: 100%;
    padding: 0px;
    margin: 10px 0px;
    border:rgba(156, 156, 156, 0.226) solid 1px;
}




footer{
    background-image: url(../img/index_page.jpg);
    background-color: rgba(0, 0, 0, 0.673);
    height: 200px;
    padding: auto;

}

form{
    margin:50px;
}



.gallery{
    height:100%;
    width:100%;
    overflow: hidden;
    border:rgba(156, 156, 156, 0.226) 1px solid;
    margin: 2px;
    padding: auto;
    opacity: 40%;
    filter: blur(3px);
    transition: .5s ease-in-out;
}

.gallery:hover{
    filter: blur(0);
    height:100%;
    width:100%;
    opacity: 100%;
    overflow: hidden;
}

.container_adventure{
    display: flex;
    flex-direction: column;
}



/* resume */

.resume-description{
    color: #616161;
    font-weight:400;
    letter-spacing: .15ex;
    margin: 10px 0px; 
    line-height: 26px;
}


/* images */
.header-image{
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    border-bottom: #41414157 solid 1px;
}

.header-image:hover, .portfolio_img_591:hover, .portfolio_img_giant:hover {
    background-color: white;
    opacity: 0.8;
}


@media (prefers-reduced-motion){ 
    h1{
      animation:none
    }
}

/* for tablet */
@media all and (min-width: 768px){
    main{
        margin: 30px;
    }
    h1{
        font-size: 36px;
        padding: 10px 0px 40px 0px ;
        letter-spacing: .1ex;
        line-height:50px;
    }
    
    
    h3{
        font-size: 28px;
        padding: 10px 0px;
        letter-spacing: .1ex;
        line-height: 30px;
    }
    
    h4{
        font-size:24px;
        letter-spacing: .1ex;
        line-height: 26px;
    }

    div a, p, li{
        font-size:24px;
        margin:10px 0px;
        font-weight:400;
        line-height: 36px;
    }

    
    .form_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 0.5fr;
        column-gap: 20px;
    }

    label, input, textarea, button{
        font-size: 24px;
        font-family: "Karla", "Roboto",sans-serif, 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial;
    }

    button, textarea{
        grid-column: 1/-1;
    }

    /* why textarea not working */


    nav li{
        margin: auto;
        display: inline;
        margin: 0px 50px 0px 30px;
        line-height: 30px;
    }

    nav a{
        color: #064987;
        font-size:24px;
        text-decoration: none;
        
    }

    .text-emphasize{
        font-size: 24px;
        margin: 0px 0px 20px 0px;
        letter-spacing: 0.1ex;
        line-height: 36px;
        
    }
    
    .footer{
        padding: 80px;
        font-size:24px;
        font-weight: 800;    
    }

    .resume_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #aside1, #aside2, #aside3{
        font-size: 24px;
        grid-template-columns: repeat(3, 1fr);
    }
    
    /* #aside3{
        font-size: 24px;
        grid-row: 1;
        grid-column: 2;
    } */
    
    #h1_resume{
        grid-column: 1/-1;
        grid-row-start: 1;
    }
    
    #edu_resume{
        grid-column: 1/-1;
        
    }
    
    #work_resume{
        grid-column: 1/-1;
        
    }

    .resume-description{
        letter-spacing: .15ex;
        margin: 10px 0px; 
        line-height: 30px;
    }

    .container_adventure{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .gallery, .gallery:hover{
        height:40%;
        width:40%;
    }


    .portfolio_container{
        display: grid;
        grid-template-columns: 1fr 0.25fr 1fr;
    }

    #h1_portfolio{
        grid-column: 1/-1;
    }

    #p_portfolio{
        grid-column: 1/-1;
    }
    
    .h3_giant, .portfolio_img_giant, .portfolio_content_giant{
        grid-column-start: 1;
        grid-column-end: 2;    
    }

    .h3_591, .portfolio_img_591, .portfolio_content_591{
        grid-column-start: 3;
    } 
    /* why not working */





}


/* for desktop */
@media all and (min-width: 1200px){
    main{
        margin: 40px;
    }
    h1{
        font-size: 40px;
        padding: 10px 0px 40px 0px ;
        letter-spacing: .1ex;
        line-height:50px;
    }
    
    
    h3{
        font-size: 32px;
        padding: 10px 0px;
        letter-spacing: .1ex;
        line-height: 40px;
    }
    
    h4{
        font-size:28px;
        letter-spacing: .1ex;
        line-height: 26px;
    }

    div a, p, li{
        font-size:28px;
        margin:20px 0px;
        font-weight:400;
        line-height: 40px;
    }

    
    .form_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 0.5fr;
        column-gap: 20px;
    }

    label, input, textarea, button{
        font-size: 28px;
        height: 48px;
        font-family: "Karla", "Roboto",sans-serif, 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial;
    }

    button{
        grid-column: 1/-1;
    }

    nav li{
        margin: auto;
        display: inline;
        margin: 0px 40px 0px 40px;
        font-family: "Karla", "Roboto",sans-serif, 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial;
        line-height: 30px;
    }

    nav a{
        color: #064987;
        font-size:28px;
        text-decoration: none;
        
    }

    .text-emphasize{
        font-size: 28px;
        margin: 0px 0px 40px 0px;
        letter-spacing: 0.1ex;
        line-height: 36px;
        
    }
    
    .footer{
        padding: 80px;
        font-size:28px;
        font-weight: 800;    
    }

    .resume_container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 40px;
    }
    
    #aside1, #aside2{
        font-size: 28px;
        grid-template-columns: repeat(2, 1fr);
    }
    
    #aside3{
        font-size: 28px;
        grid-column: 2/span 1;
        /* why not working */
    }
    
    #h1_resume{
        grid-column: 1/-1;
        grid-row-start: 1;
    }
    
    #edu_resume{
        grid-column: 1/ span 1;
        
    }
    
    #work_resume{
        grid-column: 2/span 1;
        
    }

    .resume-description{
        letter-spacing: .15ex;
        margin: 10px 0px; 
        line-height: 40px;
    }

    .container_adventure{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .gallery, .gallery:hover{
        height:30%;
        width:30%;
    }

    .portfolio_container{
        display: grid;
        grid-template-columns: 2fr 0.25fr 2fr;
    }

    #h1_portfolio{
        grid-column: 1/-1;
    }

    #p_portfolio{
        grid-column: 1/-1;
    }
    
    .h3_giant, .portfolio_img_giant, .portfolio_content_giant{
        grid-column: 1/span 1;    
    }

    .h3_591, .portfolio_img_591, .portfolio_content_591{
        grid-column-start: 3;
    } 
    /* why not working */
}


/* 
1. grid for tablet/desktop not working
2. elements should hide???
3. 
 */