
nav li{
    margin: auto;
    padding: 20px;
    display: inline;
    margin: 0px 0px 0px 30px;
    font-family: "Gill Sans", sans-serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
}

nav a{
    color: #064987;
    font-size:15px;
    text-decoration: none;
    
}

nav a:hover{
    text-decoration: wavy underline;
}



li{
    list-style-type:disc;
    font-size: 15px;
    font-weight:400;
    color:#414141;
    line-height: 20px;
}

main{
    font-family: "Gill Sans", sans-serif, 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial;
    line-height: 30px;
    margin: 50px;
}
h1{
    font-size: 40px;
    padding: 50px 0px;
    font-weight: 700;
    letter-spacing: .1ex;
    line-height: 40px;
}


h3{
    font-size: 16px;
    padding: 10px 0px;
    color: #064987;
    margin: 10px 0px;
    letter-spacing: .2ex;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 6px;
    text-decoration-color: #06498750;
}

h4{
    font-size:16px;
    font-weight:600;
    margin: 14px 0px;
    letter-spacing: .1ex;
    line-height: 20px;
}

p{
    font-size:15px;
    margin:10px 0px;
    font-weight:400;
    color:#414141;
    line-height: 20px;
    letter-spacing: .1ex;
}

.gallery{
    height:100%;
    width:100%;
    overflow: hidden;
    border:rgba(156, 156, 156, 0.226) 1px solid;
    margin: 2px;
    padding: auto;
    filter: blur(3px);
    transition: .5s ease-in-out;
}

.gallery:hover{
    filter: blur(0);
    height:100%;
    width:100%;
    overflow: hidden;
}



.active{
    color:rgb(13, 73, 157);
    font-weight: bolder;
    /* background-color: rgba(27, 83, 135, 0.2);
    opacity: 0.6; */
    padding: 20px;
    margin: 0px 0px 0px 30px;
}


.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap:10px;
    row-gap:10px;
}

.resume-description{
    color: #616161;
    font-weight:400;
    letter-spacing: .1ex;
    margin: 10px 0px;
    line-height: 20px;
    
}

.text-emphasize{
    font-weight: "Black";
    color:#064987;
    margin: 0px 0px 40px 0px;
    font-size:16px;
    line-height: 20px;
    
}

.footer{
    margin: 50px;
    text-align: center;
    font-family: "Gill Sans", 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:12px;
    font-weight: 300;
}

.header-image{
    object-fit: cover;
    width: 100%;
    height: 400px;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    border-bottom: #41414157 solid 1px;
}

.header-image:hover, .portfolio_img_591:hover, .portfolio_img_giant:hover {
    background-color: white;
    opacity: 0.8;
}

.portfolio_img_giant{
    grid-column: 1;
    grid-row-start: 2;
    object-fit: cover;
    height: 200px; 
    width: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 10px 0px;
    border:rgba(156, 156, 156, 0.226) solid 1px;
}

.portfolio_content_giant{
    grid-column: 2;
    grid-row-start: 2;

}

.portfolio_img_591{
    grid-column: 1;
    grid-row-start: 3;
    object-fit: cover;
    height: 200px; 
    width: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 10px 0px;
    border:rgba(156, 156, 156, 0.226) solid 1px;
}

.portfolio_content_591{
    grid-column: 2;
    grid-row-start: 3;

}
