/* general */
    /* navi */
@keyframes fadeIn{
    from{
        opacity: 0%;
        transform: translateY(-80px);
    }
    to {
        opacity: 100%;
    }
    }

ul{
    margin-left: 20px;
}     

main{
    font-family: "Karla", "Roboto",sans-serif, 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial;
    line-height: 20px;
    margin: 20px;
}


h1{
    font-family: "Audiowide",sans-serif, 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial;
    font-size: 28px;
    padding: 10px 0px 40px 0px ;
    font-weight: 700;
    letter-spacing: .1ex;
    line-height: 40px;
    position: relative;
    animation: fadeIn 1s ease-out;
}


h3{
    font-size: 24px;
    padding: 10px 0px;
    color: #064987;
    margin: 40px 0px 20px 0px;
    letter-spacing: .1ex;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 6px;
    text-decoration-color: #06498750;
}

h4{
    font-size:20px;
    font-weight:900;
    margin: 40px 0px 20px 0px;
    letter-spacing: .1ex;
    line-height: 26px;
}

div a, p, li{
    font-size:18px;
    margin:10px 0px;
    font-weight:400;
    color:#414141;
    line-height: 26px;

}

nav li{
    margin: auto;
    display: inline;
    margin: 0px 4px 0px 4px;
    font-family: "Karla", "Roboto",sans-serif, 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial;
    line-height: 30px;
}

nav a{
    color: #064987;
    font-size:18px;
    text-decoration: none;
    
}

nav a:hover{
    text-decoration: wavy underline;
}

.active{
    color:rgb(13, 73, 157);
    font-weight: 800;
    background-color: rgba(27, 83, 135, 0.082);
}

li{
    list-style-type:disc;
}

.skip-to-content-link{
    position: absolute;
    top: -40px;
}

.text-emphasize{
    font-size: 20px;
    font-weight: 700;
    color:#064987;
    margin: 0px 0px 20px 0px;
    font-style: italic;
    letter-spacing: 0.1ex;
    
}

.footer{
    padding: 80px;
    text-align: center;
    font-family: "Karla", "Roboto", sans-serif, 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial;
    line-height: 30px;
    font-size:18px;
    font-weight: 800;
    font-style: italic;
    color: white;

}

    /* index */
i{
    display: inline-block;
}

.contact_box{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.contact{
    display: inline;
    padding: 0px 0px 0px 16px;
}

.contact:visited{
    color: black;
}
/* resume */
hr{
    margin-top: 40px;
    margin-bottom: 20px;
}
.resume_container{
    display: grid;
    grid-template-columns: 40% 60%;
}
aside{
    grid-column: 1/-1;
}

#aside1, #aside2{
    font-size: 18px;
    font-weight: 700;
    color:#064987;
    margin: 0px 0px 10px 0px;
    letter-spacing: 0.1ex;
}

#aside3{
    font-size: 18px;
    font-weight: 700;
    color:#064987;
    margin: 0px 0px 10px 0px;
    font-style: italic;
    letter-spacing: 0.1ex;
}

#h1_resume{
    grid-column: 1/-1;
    grid-row-start: 1;
}

#edu_resume{
    grid-column: 1/-1;
    
}

#work_resume{
    grid-column: 1/-1;
    
}

/* portfolio */
#portfolio_header_img{
    width: 100%;
    /* grid-column: 1/-1;
    grid-row-start: 1; */
}

/* #nav_portfolio{
    grid-column: 1/-1; 
    grid-row-start: 2;
}

#h1_portfolio{
    grid-column: 1/-1; 
    grid-row-start: 3;
} */
/* #portfolio_aside1{
    grid-column: 1/-1; 
    grid-row-start: 4;
    overflow: hidden;
}

#portfolio_aside2{
    grid-column: 1/-1; 
    grid-row-start: 5;
    overflow: hidden;
}

#portfolio_aside3{
    grid-column: 1/-1; 
    grid-row-start: 6;
    overflow: hidden;
} */


.portfolio_img_giant{
    /* grid-column: 1/-1;
    grid-row-start: 7; */
    object-fit: cover;
    height: 200px; 
    width: 100%;
    padding: 0px;
    margin: 10px 0px;
    border:rgba(156, 156, 156, 0.226) solid 1px;
}

.portfolio_content_giant{
    /* grid-column: 1/-1 ;
    grid-row-start: 8; */
}

.portfolio_img_591{
    /* grid-column: 1/-1;
    grid-row-start: 9; */
    object-fit: cover;
    height: 200px; 
    width: 100%;
    padding: 0px;
    margin: 10px 0px;
    border:rgba(156, 156, 156, 0.226) solid 1px;
}

/* .portfolio_content_591{
    grid-column: 1/-1 ;
    grid-row-start: 10;
} */


/* adventure */
footer{
    background-image: url(../img/index_page.jpg);
    background-color: rgba(0, 0, 0, 0.673);
    height: 200px;
    padding: auto;

}

form{
    margin:50px;
}



.gallery{
    height:100%;
    width:100%;
    overflow: hidden;
    border:rgba(156, 156, 156, 0.226) 1px solid;
    margin: 2px;
    padding: auto;
    opacity: 40%;
    filter: blur(3px);
    transition: .5s ease-in-out;
}

.gallery:hover{
    filter: blur(0);
    height:100%;
    width:100%;
    opacity: 100%;
    overflow: hidden;
}

.container_adventure{
    display: flex;
    flex-direction: column;
}



/* resume */

.resume-description{
    color: #616161;
    font-weight:400;
    letter-spacing: .15ex;
    margin: 10px 0px;
    line-height: 40px;   
}


/* images */
.header-image{
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    border-bottom: #41414157 solid 1px;
}

.header-image:hover, .portfolio_img_591:hover, .portfolio_img_giant:hover {
    background-color: white;
    opacity: 0.8;
}


@media (prefers-reduced-motion){ 
    h1{
      animation:none
    }
}